<div class="card">
    <form id="pd" class="container-fluid" ng-submit="$ctrl.FormSubmit()">
        <div class="row">
            <div class="col-sm-12">
                <div class="input-container mb-4 mt-3">
                    <label>Gender</label>                
                    <select name="Gender" class="form-control"
                        ng-options="option as option for option in $ctrl.GenderOptions"
                        ng-model="$ctrl.model.Gender">
                    </select>
                </div>
                <div class="input-container mb-4 mt-3">
                    <label>Relationship status?</label>             
                    <select name="RelationshipStatus" class="form-control"
                        ng-options="option as option for option in $ctrl.RelationshipStatusOptions"
                        ng-model="$ctrl.model.RelationshipStatus">
                    </select>
                </div>
                <div class="input-container mb-4 mt-3">
                    <label>Tell us what you know about your new vehicle?</label>          
                    <select name="NewVehicleDetailType" class="form-control"
                        ng-options="option as option for option in $ctrl.NewVehicleDetailTypeOptions"
                        ng-model="$ctrl.model.NewVehicleDetailType">
                    </select>
                </div>
                <div class="input-container mb-4" ng-if="$ctrl.DisplayNewYearMakeModel()">
                    <year-make-model prefix="'New Vehicle'" model="$ctrl.model.NewVehicleDetails"></year-make-model>
                </div>
                <div class="input-container" ng-if="$ctrl.DisplayNewDetails()">
                    <input required type="number" ng-model="$ctrl.model.NewVehicleData" />
                    <label name="NewVehicleData" class="rel">{{$ctrl.model.NewVehicleDetailType}}</label>
                </div>
                <div class="input-container mb-4 mt-3">
                    <label>Do you have a vehicle to trade?</label>                    
                    <select name="VehicleToTrade" class="form-control"
                        ng-options="option.value as option.text for option in $ctrl.YesNoOptions"
                        ng-model="$ctrl.model.VehicleToTrade">
                    </select>
                </div>
                <div class="input-container mb-4" ng-if="$ctrl.model.VehicleToTrade">                    
                    <year-make-model prefix="'Trade Vehicle'" model="$ctrl.model.TradeVehicleDetails"></year-make-model>
                </div>
                <div class="input-container mb-4 mt-3">
                    <label>Were you born in New Zealand?</label>
                    <select name="NzBorn" class="form-control"
                        ng-options="option.value as option.text for option in $ctrl.YesNoOptions"
                        ng-model="$ctrl.model.NzBorn">
                    </select>
                </div>
                <div class="input-container mb-4" style="margin-top: 10px" ng-hide="$ctrl.model.NzBorn">
                    <label>What country were you born in?</label>
                    <select name="CountryBornIn" class="form-control"
                        ng-options="option.name as option.name for option in $ctrl.CountryOptions"
                        ng-model="$ctrl.model.CountryBornIn">
                    </select>
                </div>
                <div class="input-container mb-4 mt-3">
                    <label>What license do you have?</label>
                    <select name="DriverLicenceType" class="form-control"
                        ng-options="option as option for option in $ctrl.DriverLicenceOptions"
                        ng-model="$ctrl.model.DriverLicenceType">
                    </select>
                </div>
                <div class="input-container mb-4 mt-3">
                    <label>Do you know a little about your credit history?</label>
                    <select name="CreditHistoryType" class="form-control"
                        ng-options="option as option for option in $ctrl.CreditHistoryOptions"
                        ng-model="$ctrl.model.CreditHistoryType">
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt-5 mb-3">
            <div class="col-xs-6">
                <buton class="btn btn-back" ng-click="$ctrl.RequestBack()">Back</buton>
            </div>
            <div class="col-xs-6">
                <input type="submit" value="Next" />
            </div>
        </div>
    </form>
</div>