<div class="input-container">
    <input type="text" g-places-autocomplete ng-model="$ctrl.AddressEntry" ng-change="$ctrl.AddressEntryChanged()"
        placeholder="type to search" />
    <label class="rel">{{$ctrl.label}}</label>
</div>

<div class="mt-4">
    <div class="row">
        <dt class="col-xs-4 controls">
            <label class="text-5">Street Number</label>
        </dt>
        <dd class="col-xs-8">
            <input class="text-5" type="text" name="streetNumber" placeholder="Street Number" ng-model="$ctrl.model.StreetNumber">
        </dd>
    </div>
    <div class="row">
        <dt class="col-xs-4 controls">
            <label class="text-5">Street Name</label>
        </dt>
        <dd class="col-xs-8">
            <input class="text-5" type="text" name="StreetName" placeholder="Street Name" ng-model="$ctrl.model.StreetName">
        </dd>
    </div>

    <div class="row">
        <dt class="col-xs-4 controls">
            <label class="text-5">Suburb</label>
        </dt>
        <dd class="col-xs-8">
            <input class="text-5" type="text" name="postcode" placeholder="Suburb" ng-model="$ctrl.model.Suburb">
        </dd>
    </div>

    <div class="row">
        <dt class="col-xs-4 controls">
            <label class="text-5">Region / State</label>
        </dt>
        <dd class="col-xs-8">
            <input class="text-5" type="text" name="region" placeholder="Region / State" ng-model="$ctrl.model.State">
        </dd>
    </div>

    <div class="row">
        <dt class="col-xs-4 controls">
            <label class="text-5">Country</label>
        </dt>
        <dd class="col-xs-8">
            <input class="text-5" type="text" name="country" placeholder="Country" ng-model="$ctrl.model.Country">
        </dd>
    </div>

    <div class="row">
        <dt class="col-xs-4 controls">
            <label class="text-5">Post Code</label>
        </dt>
        <dd class="col-xs-8">
            <input class="text-5" type="text" name="postcode" placeholder="Post Code" ng-model="$ctrl.model.PostCode">
        </dd>
    </div>
</div>