<ol class="track-progress" data-steps="4">
  <li ui-sref-active="active"  ng-class="{'done': $ctrl.stage() >= 1}">
    <span>Your purchase</span>
  </li><!--
    --><li ng-class="{'done': $ctrl.stage() >= 2}">
    <span>Quote</span>
  </li><!--
    --><li ng-class="{'done': $ctrl.stage() >= 3}">
    <span>About you</span>
  </li><!--
    --><li ng-class="{'done': $ctrl.stage() == 4}">
    <span>Your finances</span>
    <i></i>
  </li>
</ol>
<div class="container-fluid quote-container">
  <ui-view></ui-view>
  <working ng-class="'slide-left'" ng-if="$ctrl.stage === -1"></working>
  <confirm ng-class="'slide-left'" ng-if="$ctrl.stage === -2" first-name="$ctrl.model.FirstName" preferred-name="$ctrl.model.PreferredName"></confirm>

</div>