<form name="form" class="form-horizontal" ng-submit="$ctrl.FormSubmit()" novalidate>
    <fieldset>
        <legend>Your Loan Quote</legend>
        <div class="form-group">
            <label for="Term of loan" class="col-sm-4 control-label">Term of loan</label>
            <div class="col-sm-8">
                <select ng-disabled="true" name="Term" class="form-control" ng-options="option.value as option.text for option in $ctrl.TermOptions"
                    ng-model="$ctrl.model.Term"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Loan Amount</label>
            <div class="col-sm-8">
                <p class="form-control-static">{{$ctrl.model.CashPrice | currency}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Deposit Amount</label>
            <div class="col-sm-8">
                <p class="form-control-static">{{$ctrl.model.Deposit | currency}}</p>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label class="col-sm-4 control-label">Repayment Amount</label>
            <div class="col-sm-8">
                <p class="form-control-static">{{$ctrl.model.MonthlyPayment | currency}}</p>
            </div>
        </div>
    </fieldset>


    <div class="actions">
        <!--<a class="btn btn-primary" ui-sref="{{$ctrl.RequestBack()}}">Back</a>-->
        <!--<button class="btn btn-primary" type="button" ng-click="$ctrl.Calculate()">Recalculate</button>-->
        <button class="btn btn-primary" ng-click="$ctrl.RequestBack()">Back</button>
        <button type="button" class="btn btn-primary" ng-click="$ctrl.FormSubmit(form)">Next</button>
    </div>
</form>