/*form input[type=email], form input[type=password], form input[type=tel], form input[type=text], form input[type=url] {
    border: 0;
    border-bottom: 1pt solid #9f9f9f;
    border-radius: 0;
    background: 0 0;
    padding: 2.3em 0 .5rem .5em;
    width: 100%;
}

form input[type=email]+label, form input[type=password]+label, form input[type=tel]+label, form input[type=text]+label, form input[type=url]+label
{
    color: #9f9f9f;
    left: .5rem;
    position: absolute;
    -webkit-transition: top .3s ease-out,left .3s ease-out,font .3s ease-out,color .4s ease,font-weight .4s ease;
    transition: top .3s ease-out,left .3s ease-out,font .3s ease-out,color .4s ease,font-weight .4s ease;
    top: 2.2rem;
    z-index: 2;
}*/

body {
  background-color: #eee;
  font-family: 'Noto Sans', sans-serif;
}

.card{
  background-color: #fff;
  padding: 20px;
}

label {
  color: #004D40;
  font-size: 1.25em;
}

.rel {
  display: inline-block;
  transition: all .2s ease;
  z-index: 10;
  position: relative;
  top: -30px;
}

.input-container {
  position: relative;
  margin: 45px auto -25px;
}

input[type="text"], input[type=number] {
  width: 100%;
  position: relative;
  display: inline-block;
  font-size: 1.25em;
  padding: 0 0 5px 0;
  color: #004D40;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px #ddd;
  outline: none;
  z-index: 20;
}

input[type="text"]:focus ~ label, 
input[type="text"]:valid ~ label,
input[type="number"]:focus ~ label, 
input[type="number"]:valid ~ label 
{
  top: -60px;
  font-size: 1.00em;
}

/*.needs-value{
  top: -30px !important;
  font-size: 1.25em !important;
}*/

input[type="text"]:focus, input[type="number"]:focus
{
  border-bottom: solid 2px #4DB6AC;
}

input[type="submit"] {
  cursor: pointer;
  margin: auto;
  width: 100%;
  background-color: #4DB6AC;
  color: #E0F2F1;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.25em;
  padding: 10px 0;
  border: solid #009688;
  border-width: 0 0 4px 0;
  border-radius: 3px;
  outline: none;
}

input[type="submit"]:hover {
  background: #26A69A;
  border: solid #00897B;
  border-width: 0 0 4px 0;
}

input[type="submit"]:active {
  background: #009688;
  border: solid transparent;
  border-width: 0 0 0px 0;
}

.btn-back {
  cursor: pointer;
  margin: auto;
  width: 100%;
  background-color: #666;
  color: #E0F2F1;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.25em;
  padding: 10px 0;
  border: solid #333;
  border-width: 0 0 4px 0;
  border-radius: 3px;
  outline: none;
}

.btn-back:hover {
  background: #555;
  border: solid #333;
  color: #E0F2F1;
  border-width: 0 0 4px 0;
}

.btn-back:active {
  background: #555;
  border: solid transparent;
  border-width: 0 0 0px 0;
}